{{>shell_begin.template.html}}
<section>
	<h1>Hello!</h1>
	<p>This is a little landing page I made so I don't need to update fifteen thousand links when I need to change the discord invite.</p>
	<p>If you'd like to go to my Discord server, <a href="https://discord.gg/WUXsbGH">step right this way</a>.</p>
	<h2>FAQ</h2>
	<h3>Why doesn't this page just auto-redirect?</h3>
	<p>Because I said so.</p>
	<h3>Why isn't this page very fancy?</h3>
	<p>It doesn't need to be!</p>
</section>
{{>shell_end.template.html}}