<!DOCTYPE html>
<html>
	<head>
		<title>Highly Suspect Agency{{#post}} - {{title}}{{/post}}</title>
		<link rel="stylesheet" type="text/css" href="/stylin.css" />
		<link rel="stylesheet" type="text/css" href="/rotator.css" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			<a href="/" class="logo" aria-hidden="true">
				<div class="circle1"></div>
				<div class="cover1"></div>
				<div class="circle2"></div>
				<div class="cover2"></div>
				<div class="iris"></div>
			</a>
			<h1><a href="/">Highly Suspect Agency</a></h1>
			<div class="spacefiller"></div>
			{{! NB: if you add more links remember to adjust the css media query so the header breaks at the right time}}
			<nav><a href="/posts">Blog</a></nav>
		</header>
		<article>